/* Variavies */

:root{

    --fonte: 'Inter', sans-serif;
    --cor-primaria:#150125;
    --cor-secundaria: #220637;
    --cor-branco: #FFFFFF;
    --cor-preto: #000000;
}

body{
    background-color: var(--cor-primaria);
    color: var(--cor-branco);
    font-family: var(--fonte);
    font-size: 16px;
    font-weight: 400;

}

.header{
    height: 3rem;
    color: var(--cor-preto); 
    background-color: var(--cor-branco);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
    
}
.header__titulo > strong{
    font-weight: 700;
}

.header__imgDados{
    display: none;
}


.secao__principal{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    
    
}

.principal__titulo{
    font-size: 20px;
    font-weight: 700;
  
}

.principal__container{
    padding: 10% 15%; 
    border: solid 1px var(--cor-branco);
    border-radius: 15px;
}


.resultado{
    font-size: 96px;
    font-weight: 700;
}
.secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.secundario__titulo{
    font-weight: 700;
    margin: 1rem;
}
.secundario__dado{
    margin: 0.5rem;
}

.botao{
    margin-top: 10%;
    border: none;
    font-weight: 700;
    font-family: var(--fonte);
    color: var(--cor-preto);
    background-color: var(--cor-branco);
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.container__quantidade__dados{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 15%;
 }   

.botao__menos{
    height: 2rem;
    border: solid 1px var(--cor-branco);
    border-radius: 5px;
    color: var(--cor-preto);
    width: 30px;
    height: 50px;
    font-weight: 700;
    font-family: var(--fonte);
}
.quantidade{
    font-family: var(--fonte);
    font-size: 16px;
    color: var(--cor-branco);
    font-weight: 400;
    width: 30px;
    text-align: center;
}
.menu{
    width:100%;
    color: var(--cor-branco);
    background-color: var(--cor-secundaria);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    
    }

.lista{
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:20px;
    margin: 25px;
    padding: 20px 20px;
    border: solid 1px var(--cor-branco);
    border-radius: 15px;
}

.rodape{
    background-color: var(--cor-preto);
    color: var(--cor-branco);
    padding: 0.25rem;
    width: 100%;
    text-align: center;
    font-size: 10px;
    font-weight: 400;       
}

@media screen and (min-width: 638px) {
    .principal__container{
        padding: 50px 150px; 
    }
.botao{
    margin-top: 5%;
}

.container__quantidade__dados{
    margin-top: 5%;
}


}

@media screen and (min-width: 350px) {
    .header__imgDados{
        display: block;
    }
}
